* {
  margin: 0;
  padding: 0;
}

.header {
  padding-left: 230px;
  padding-right: 230px;
  height: 75px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}

.header_logo {
  padding: 18px;
}

.header_menu {
  padding: 18px;
}

.top_content {
  background: #f1e4e6;
  margin-bottom: 65px;
}

.top-write1 {
  background: #f16d7f;
  height: 92px;
  width: 12px;
}

.top-write2 {
  padding-left: 16px;
  height: 93px;
  width: 377px;
}

.top_text {
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  font-weight: 900;
}

.item {
  height: 764px;
  display: flex;
  align-items: center;
}

.item-flex {
  display: flex;
}
